.input-box {
  vertical-align: middle;
  margin: 50px auto 0;
}
button {
  vertical-align: middle;
}
ul,li {
  list-style: none;
}
.input-box > input {
  outline: none;
  appearance: none;
  border: none;
  border: 1px solid #f40;
}
.input-box > button {
  border: 1px solid #f40;
  margin-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todo-list {
  margin-top: 30px;
}